<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1">
        <script src="http://y0.ifengimg.com/fe/ymer_project/scripts/base-core_5664eba4.min.js"></script>
    </head>
    <body style="width:100%;height:overflow: hidden;margin:0;" oncontextmenu="window.event.returnValue=false" onselectstart="event.returnValue=false" ondragstart="event.returnValue=false">

        <script>
           if(console.log){
               console.log = function(){}
               console.info = function(){}
           }
           requirejs.config({
             paths:{
              "jquery#1.8.1" : "http://y1.ifengimg.com/fe/jQuery/jquery-1.8.1.min",
              "Ymer" : "http://y0.ifengimg.com/fe/ymer_project/scripts/ymer_core_101f09c7.min"
             },
             waitSeconds: 20,shim: {}});
        </script>
        <script src="http://y0.ifengimg.com/fe/ymer_project/scripts/ymer_project_extend_ed89dfef.min.js"></script>
        <script>
        <%- custom_data %>

            var data = <%- app_data %>;
            //var _w = document.documentElement.clientWidth;
            //var _h = document.documentElement.clientHeight;
            if(glue.device.type == 'pc'){
                var _w = data.properties.deviceInfo.width;
                var _h = data.properties.deviceInfo.height;
            }else{
                var _w = window.innerWidth;
                var _h = window.innerHeight;
            }
            //var _w = 360;//data.properties.width; //设计时宽度
            //var _h = 640;  //_w*document.documentElement.clientHeight/document.documentElement.clientWidth; //计算的高度
            //setTimeout(function (){$('#kMWuVwdJFZNVe704').css('background-size', '100% 100%');}, 2000);
        </script>
        <script>
            require(['jquery#1.8.1', 'Ymer'],
                function($, ymer) {
                var app = new ymer.App(data.properties.id, ymer.PropertyFactory, ymer.ComponentFactory, ymer.EffectFactory);
                var deviceInfo = data.properties;
                app.init();
                app.initAppData(data)
                app.setDeviceInfo({width:_w,height:_h});
                var appDom = app.getOwnerDom();
                app.setProperty("width" , _w+"px");
                app.setProperty("height" , _h+"px");
                app.setProperty("left" , 0);
                app.setProperty("top" , 0);
                app.setProperty("position" , "relative");
                app.setProperty("overflow" , "hidden");
                $('body').append(appDom);
                AnimationSchedule.start();
                app.start();

            });
        </script>

    </body>
</html>
